.home {
	.content-1 {
		background-color: @light-grey;

		.img-content {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			img {
				width: 100%;
			}

		}
		.text-content {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			margin-left: -5px;
			padding-left: 83px;				
		}
	}
	.content-2 {
		height: 845px;
		padding-top: 75px;
		.heading {
			text-align: center;
			h4, h2 {
				text-transform: uppercase;
			}
			h4 {
				color: @yellow;
				margin-bottom: 15px;
			}
		}
		.img-text-content {
			width: 100%; 
			text-align: center;
			padding-top: 65px;
			.each-flavour {
				display: inline-block;
				width: 24%;
				a {
					color: @black;
					&.category {
						margin-top: 20px;
					}
					h4 {
						text-transform: uppercase;
						margin-bottom: 20px;
					}
				}
				ul {
					li {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}