@media (max-width: 1366px) and (min-width: 1200px) {

}

@media all and (max-width: 1200px) {	
   .home {
		.content-5 {
			.img-text-content {
				.map {
					width: 520px;					
				}
				.text-content {
					width: 565px;
					.info {
						width: 170px;
					}
				}
			}
		} 
	}
}