// ipad landscape
@media all and (max-width: 1024px) {
	#page-wrapper {
		.slider-wrapper {
			div.item {
				div.carousel-caption {
					div.caption {						
						left: -55%;
						div.caption-img {
							width: 430px;
						}
					}					
				}
			}
		}
		#content-wrapper {
			.home {
				.content-1 {
					.text-content {
					    padding-top: 40px;
						padding-bottom: 40px;
					}
				}
				.content-3 {
					padding: 75px 40px 75px 40px;
					.img-text-content {
						.instagram {
							.instagram-content {
								ul {
									height: 319px;
									overflow: hidden;
								}
								img#insta_big {
									width: 319px;
									height: auto;
									vertical-align: top;
								}
							}
						}
						.twitter {
							.twitter-content {
								ul {
									li {
										.twitter-text {
											width: 288px;
										}
									}
								}
							}
						}
					}
				}
				.content-5 {
					padding: 75px 40px 75px 40px;
					.img-text-content {
						.map {
							margin-right: 30px;
						}
						.text-content {
							width: 390px;
							.info {
								width: 165px;
								margin-right: 20px;
							}
						}
					}
				}
			}
		}
	}
}
// ipad portrait
@media all and (max-width: 768px) {
	#page-wrapper {
		.slider-wrapper {
			div.item {
				div.carousel-caption {
					div.caption {						
						div.caption-img {
							left: 104px;
    						width: 51%;
						}
					}					
				}
			}
		}
	}
}
