@media (max-width: 1366px) and (min-width: 1200px) {
  .home .content-5 .img-text-content .map {
    width: 520px;
  }
  .home .content-5 .img-text-content .text-content {
    width: 565px;
  }
  .home .content-5 .img-text-content .text-content .info {
    width: 170px;
  }
}
