@media all and (max-width: 1024px) {
  .careers .content-extra .img-content {
    width: 55%;
  }
  .careers .content-extra .text-content {
    width: 42%;
  }
  .careers .content-4 .img-content {
    width: 100%;
  }
  .careers .content-4 .img-content img {
    margin: 0 auto;
  }
  .careers .content-4 .text-content {
    width: 72%;
    margin: 0 auto;
    margin-top: 40px;
  }
  .contact-us .content-4 .each-office {
    width: 22%;
  }
  .portfolio .content-1 .text-content p {
    width: 81%;
  }
}
@media all and (max-width: 768px) {
  #page-wrapper .seperator-line {
    width: 64px !important;
    margin-bottom: 38px;
    height: 3px;
  }
  #page-wrapper .slider-wrapper .arrow {
    top: 93%;
  }
  #page-wrapper .slider-wrapper .arrow-big {
    left: 39%;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-item-2--width4 {
    width: 100%;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-item-2--width3 {
    width: 100%;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-sizer-3 {
    width: 353px;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-item-3 {
    width: 348px;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-item-3 img {
    width: 100%;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-item-3--width4 {
    width: 99%;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-item-3--width3 {
    width: 99%;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-item-3--width2 {
    width: 99%;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-item-3--width2 img {
    width: 100%;
  }
  #page-wrapper .case-study .content-3 ul li {
    margin-top: 40px;
    width: 48%;
  }
  #page-wrapper .case-study .content-3 ul li:last-child {
    display: none;
  }
  #page-wrapper .case-study .content-3 ul li .img-placeholder {
    width: 100%;
  }
  #page-wrapper .case-study .content-3 ul li .img-placeholder img {
    width: 100%;
  }
  #page-wrapper .case-study .content-3 ul li .caption-text h6 {
    margin-bottom: 0px;
  }
  #page-wrapper .portfolio .content-2 .category-nav ul.child-menu li {
    margin-right: 5px;
  }
  #page-wrapper .portfolio .content-2 .category-nav ul.child-menu li:first-child a:after {
    top: 13px;
  }
  #page-wrapper .portfolio .content-2 .category-nav ul.child-menu li a {
    font-size: 11px;
  }
  #page-wrapper .portfolio .content-3 ul li {
    width: 31.7%;
    min-width: 222px;
  }
  #page-wrapper .clients .img-content ul li {
    height: auto;
  }
  #page-wrapper .contact-us .content-3 form#contact input {
    width: 100%;
    margin-left: 0px;
  }
  #page-wrapper .contact-us .content-3 form#contact .submit-contact-form {
    margin-top: 20px;
    margin-left: 0px;
    display: block;
  }
  #page-wrapper .clients .content-2 .each-content .text-content,
  #page-wrapper .clients .content-4 .each-content .text-content {
    width: 100%;
  }
  #page-wrapper .clients .content-2 .each-content .img-content,
  #page-wrapper .clients .content-4 .each-content .img-content {
    width: 100%;
  }
  #page-wrapper .clients .content-2 .each-content .img-content img,
  #page-wrapper .clients .content-4 .each-content .img-content img {
    width: 100%;
  }
  #page-wrapper .profile .content-1 .text-content {
    width: 90%;
  }
  #page-wrapper .profile .content-2 .text-content ul {
    width: 100%;
  }
  #page-wrapper .profile .content-2 .text-content ul li {
    text-align: center;
  }
  #page-wrapper .profile .content-3 .text-content {
    width: 100%;
    display: block;
  }
  #page-wrapper .profile .content-3 .text-content-2 {
    display: block;
    width: 100%;
    padding-left: 0px;
  }
  #page-wrapper .careers .content-extra .text-content {
    display: block;
    width: 100%;
    padding-left: 0px;
    margin-top: 40px;
  }
  #page-wrapper .careers .content-extra .img-content {
    width: 100%;
    display: block;
  }
  #page-wrapper .careers .content-4 .text-content {
    width: 100%;
  }
}
@media all and (max-width: 755px) {
  #page-wrapper .case-study .content-2 .img-content .grid-sizer-3 {
    width: 100%;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-item-3 {
    width: 100%!important;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-item-3 img {
    width: 100%!important;
  }
  #page-wrapper .portfolio .content-3 ul li {
    width: 48%;
  }
  #page-wrapper .portfolio .content-3 ul li:nth-of-type(2n) {
    margin-right: 0px!important;
  }
  #page-wrapper .portfolio .content-3 ul li:nth-of-type(3n) {
    margin-right: 17px;
  }
}
@media all and (max-width: 755px) {
  #page-wrapper .case-study .content-2 .img-content .grid-sizer-3 {
    width: 100%;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-item-3 {
    width: 100%!important;
  }
  #page-wrapper .case-study .content-2 .img-content .grid-item-3 img {
    width: 100%!important;
  }
  #page-wrapper .portfolio .content-3 ul li {
    width: 48%;
  }
  #page-wrapper .portfolio .content-3 ul li:nth-of-type(2n) {
    margin-right: 0px!important;
  }
  #page-wrapper .portfolio .content-3 ul li:nth-of-type(3n) {
    margin-right: 17px;
  }
  #page-wrapper .project .content-1 {
    text-align: left;
  }
  #page-wrapper .project .content-1 .heading {
    text-align: center;
  }
  #page-wrapper .project .content-1 .text-content {
    text-align: left;
    width: 100%;
  }
  #page-wrapper .project .content-1 .more-info {
    text-align: left;
    padding-left: 0px;
    margin-top: 10px;
  }
  #page-wrapper .project .content-2 .img-content .grid-sizer-3 {
    width: 100%;
  }
  #page-wrapper .project .content-2 .img-content .grid-item-3 {
    width: 100%!important;
  }
  #page-wrapper .project .content-2 .img-content .grid-item-3 img {
    width: 100%!important;
  }
}
