@media (max-width: 1720px) {
	.flavour {
		.content-1,.content-2,.content-3,.content-4 {
			.img-text-content {
				.each-flavour {
					margin-right: 30px;
				}
			}
		}		
	}
	.contact {
		.content-2 {
			.img-text-content {
				.img-content {
					width: 45%;
				}
				.text-content {
					width: 40%;	
				}	
			}
		}
	}
}

@media (max-width: 1600px) {
	.flavour {
		.content-1,.content-2,.content-3,.content-4 {
			.img-text-content {
				.each-flavour {
					margin-right: 10px;
				}
			}
		}		
	}
}

@media all and (max-width: 1380px) {
	#page-wrapper {
		.slider-wrapper {
			div.item {
				div.carousel-caption {
					div.caption-text {
						h1 {
							font-size: 99px;
							line-height: 110px;
						}
					}
				}
			}
		}	
	}
	
	.home {
		.content-1 {
			.text-content {
				width: 49%;
			}
			.img-content {
				width: 49%;
			}
		}
		.content-2 {
			.img-text-content {
				.each-flavour {
					margin-right: 60px;
				}
			}
		}
		.content-extra {
			.img-text-content {
				.text-content {
					width: 33%;
					margin-right: 70px;
				}
				.img-content {		
					// width: 54.68%;			
					width: 60.68%;			
				}
			}
			.img-text-content-2 {
				.img-content {
					width: 36.08%;
					margin-right: 70px;
				}
				.text-content {					
					width: 55.68%;					
				}
			}
		}
		.content-5 {
			.img-text-content {
				.img-content {
					width: 53%;
				}
				.text-content {
					width: 40%;	
				}				
			}			
		}
	}

	.flavour {
		.content-1,.content-2,.content-3,.content-4 {
			.img-text-content {
				.each-flavour {
					margin-right: 10px;
				}
			}
		}
		.content-7 {
			.img-text-content {
				.img-content {
					width: 53%;
				}
				.text-content {
					width: 40%;	
				}				
			}			
		}		
	}
	.contact {
		.content-2 {
			.img-text-content {
				.img-content {
					width: 53%;
				}
				.text-content {
					width: 40%;	
				}				
			}			
		}		
	}
}

@media all and (max-width: 1200px) {	
	#page-wrapper {
		.slider-wrapper {
			div.item {
				div.carousel-caption {
					div.caption-text {
						h1 {
							font-size: 79px;
							line-height: 90px;
						}
					}
				}
			}
		}	
	}
   .home {
		.content-1 {
			.text-content {
				width: 49%;
			 	padding-top: 30px;
				padding-bottom: 30px;
				padding-left: 40px;
				padding-right: 30px;
			}
			.img-content {
				width: 580px;
				height: 590px;
			}
		}
		.content-2 {
			.img-text-content {
				.each-flavour {
					margin-right: 40px;
				}
			}
		}
		.content-3 {
			.img-text-content {
				.instagram {
					width: 40%;
				}
				.twitter {
					width: 40%;	
				}
			}
		}
		.content-extra {
			.img-text-content {
				.text-content {
					width: 33.08%;
				}
				.img-content {		
					width: 54.68%;			
				}
			}
			.img-text-content-2 {
				.img-content {
					width: 30.08%;
				}
				.text-content {					
					width: 57.68%;					
				}
			}
		}
	}
}